/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero,
section {
  overflow-x: hidden;
}

.section-heading {
  padding-top: 30px;
  padding-bottom: 10px;
}

.section-heading h1 {
  font-weight: bold;
}

i {
  color: rgb(177, 3, 3);
}

.button,
.button2 {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(192, 0, 0);
  margin-top: 5px;
  padding: 12px 34px;
  font-size: 13px;
  background: rgb(192, 0, 0);
  position: relative;
  cursor: pointer;
}

.button:hover {
  border: 1px solid rgb(192, 0, 0);
  background: white;
  color: rgb(192, 0, 0) !important;
  transition: 1s;
}

.bg-black {
  background: black;
}

.bg-red {
  background: rgb(190, 3, 3);
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
  background: rgb(185, 3, 3);
}

.header .brand-name {
  padding: 0 15px;
}

.header .brand-name a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.header .nav-toggle {
  width: 40px;
  height: 34px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}

.header.fixed .nav-toggle {
  border-color: #000000;
}

.header .nav-toggle span {
  height: 1px;
  display: block;
  width: 16px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}

.header .nav-toggle span:before,
.header .nav-toggle span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after {
  background-color: #000000;
}

.header .nav-toggle span:before {
  transform: translateY(-6px);
}

.header .nav-toggle span:after {
  transform: translateY(6px);
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}

.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 25px 0;
  display: block;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.brand-name {
  color: rgb(177, 3, 3);
}

/* Hero section */
.hero .row .content-col {
  padding: 22vmin 1vmin;
  padding-bottom: 25vmin;
}

.hero .row .img-col {
  padding: 4.2vmin 1vmin;
}

.hero .row .img-col img {
  width: 100%;
  padding-top: 20%;
}

.hero {
  background: black;
  padding-top: 5em;
}

.hero .container .content-col {
  font-family: 'Poppins', sans-serif;
}

.hero .container .content-col h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

.hero .container .content-col h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

.hero .container .content-col p {
  margin-right: 50px;
}

.button:hover {
  background-color: rgb(177, 3, 3) !important;
}

.button a {
  color: white;
}

.button a:hover {
  text-decoration: none;
}

/* Services section */
.services i {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(177, 3, 3);
}

/* Fun facts section */
.cover {
  width: 100%;
  height: 55vmin;
  background: url(./images/road-3.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.253);
  padding-top: 19vmin;
}

.cover .content>h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content>p {
  font-family: 'Poppins', sans-serif;
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.3em;
  border: 1px solid rgb(240, 240, 240);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 3rem;
  color: rgb(192, 0, 0);
  padding-top: 24px;
}

.numbers .rect>p {
  font-family: 'Poppins', sans-serif;
}

.card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.card h3 {
  color: white;
}

/* Why us section */
.why-us {
  padding-top: 80px;
  padding-bottom: 80px;
}

.why-us i {
  font-size: 24px;
  margin-right: 16px;
  color: rgb(177, 3, 3);
}

/* Pricing section */
#pricing a:hover {
  color: black !important;
}

/* CTA section */
.cta {
  background: url(./images/road-3.jpg);
  background-attachment: fixed;
  padding-bottom: 80px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.cta .col-md-12>h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 9vmin;
}

.cta .col-md-12>p {
  padding: 0 14em;
  padding-bottom: 1em;
  color: rgba(255, 255, 255, 0.877);
  font-size: 3vmin;
  margin-top: -25px;
}

.button {
  color: white;
}

#newsletter .button:hover {
  text-decoration: none;
  color: white !important;
  background-color: rgb(177, 3, 3) !important;
}

/* Blog section */
.blog a,
.services a {
  color: rgb(189, 3, 3);
  font-size: 15px;
}

.blog a:hover,
.services a:hover {
  color: black !important;
  text-decoration: none !important;
}

/* Contact section */
.form-div {
  background-color: black;
}

.contact i {
  margin-right: 10px;
  color: rgb(177, 3, 3);
}

/* Footer */
.bg-grey {
  background: #1a1a1a;
}

footer {
  color: grey;
}

footer p,
a {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

footer h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  position: relative;
}

footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}

.btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}

.btn-footer:hover {
  text-decoration: none;
}

.form-footer input[type="text"] {
  border: none;
  outline: none;
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

::placeholder {
  font-size: 16px;
  padding-left: 10px;
}

.form-footer input[type="button"] {
  border: none;
  background: #232323;
  margin-left: -5px;
  color: #fff;
  outline: none;
  padding: 12px 12px;
}

footer ul li {
  list-style: none;
  display: block;
}

footer ul {
  padding-left: 0;
}

footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}

.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}

/* Copyright */
.copyright-link a {
  color: rgb(192, 0, 0) !important;
}

.copyright {
  background: black;
}

/* Responsive style */
@media only screen and (max-width: 768px) {
  .hero .navbar-brand {
    padding-left: 1rem;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  .cta {
    height: inherit;
    padding: 10vmin !important;
  }

  .cta .row h1 {
    padding: 6vmin 4vmin;
  }

  .cta .platform .col-md-6 {
    text-align: center !important;
  }
}

@media(min-width: 768px) {
  .header .nav {
    display: block !important;
  }
}

@media(max-width: 767px) {
  .header {
    padding: 7px 0;
  }

  .header .nav-toggle {
    display: flex;
    margin-right: 15px;
  }

  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 0;
    display: none;
  }

  .header.fixed .nav {
    border-top: 1px solid #cccccc;
  }

  .header .nav ul li {
    display: block;
    margin-right: 25px;
  }
}